.code-tabs-container{
    display: flex;
    flex-direction: column;
}

.code-content {
  width: 100%;
  height: 530px;
  background-color: #1e1e1e; /* como editor */
  border-radius: 8px;
  padding: 6px;
  margin-top: 1rem;
  overflow-x: auto; /* scroll solo si es necesario */
  overflow-y: auto;
}

/* Para los bloques de código */
.code-content pre {
   margin: 0;               /* elimina márgenes extra */
  padding: 0;   
  height: 100%;           /* elimina padding interno */
  white-space: pre;        /* mantiene formato del código */
  overflow-x: auto;        /* scrollea solo si se pasa */
  text-align: left;       /* 🔑 alinea el código hacia la derecha */
}

.code-content p {
  margin-left: -50px;  
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
  color: #f8f8f2;
}

.tabs-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap; /* para que bajen si no entran */
}

.tabs-buttons button {
  background: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.tabs-buttons button.active {
  background: #007bff;
}
