*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}